<div class="mx-auto">
    <div class="flex">
        <div class="mx-auto flex">
            <img width=125 height=62 src="bilder/logo.png">
            <img width=490 height=47 src="bilder/innebandy.jpg">
        </div>
    </div>
    <div class="flex p-0 m-0">
        <div>
            <a href="/">
                <img src="bilder/button6.jpg" alt="Hem">
            </a>
        </div>
        <div>
            <a href="pliga.htm">
                <img src="bilder/button19.jpg" alt="Poängliga">
            </a>
        </div>
        <div>
            <a href="spelprogram.html">
                <img src="bilder/button1C.jpg" alt="Spelschema">
            </a>
        </div>
        <div>
            <a href="resultat.htm">
                <img src="bilder/button27.jpg" alt="resultat">
            </a>
        </div>
        <div>
            <a href="http://www8.idrottonline.se/KorpforeningSundbyberg-Korpen/Varasektioner/Innebandy/Innebandy4utanmalvakt/Herrar/Division1/">
                <img src="bilder/button2B.jpg" alt="Korpens hemsida">
            </a>
        </div>
        <div>
            <a href="events.html">
                <img src="bilder/button61.jpg" alt="Events">
            </a>
        </div>
    </div>
</div>